
.DS_Store
.idea/
debug.log
/AI训练赛/中文阅读理解/dataset/
/AI训练赛/中文阅读理解/uncased_L-2_H-128_A-2/
/AI训练赛/基于seq2seq+attention实现文本摘要任务/dataset/
/AI训练赛/基于关联规则算法实现电影推荐系统/movie_dataset/
/AI训练赛/基于聚类算法完成航空公司客户价值分析/dataset/
/AI训练赛/基于逻辑回归完成信用评分卡建模/dataset/
/AI训练赛/情绪分析/output/
/AI训练赛/情绪分析/data/
/AI训练赛/情绪分析/uncased_L-2_H-128_A-2/
/k-近邻算法/dataset/
/TF/tf-bert-learn/data/
/TF/tf-bert-learn/output/
/TF/tf-bert-learn/uncased_L-2_H-128_A-2/
/决策树/dataset/
*.pyc

/AI训练赛/基于bert实现知识库问答/dataset/
/AI训练赛/基于bert实现知识库问答/models/
/AI训练赛/基于bert实现知识库问答/temp/
.idea/ML.iml
.idea/misc.xml
/AI训练赛/情绪分析/model/
.idea/ML.iml
.idea/misc.xml
AI训练赛/微博新闻分析/微博新闻数据集.csv
/AI训练赛/古诗词/data/
/AI训练赛/基于XGB构建多层次用户画像及标签体系/data/
/AI训练赛/角色命名实体识别/data/
TF/tf2.0/.idea/
TF/.idea/
nlp/bert_prj/datasets/
nlp/bert_prj/base_model/
nlp/bert_prj/tmp/
nlp/tmp/
nlp/.idea/
**/datasets/
/alert/
**/base-models/
**/data/
**/temp/
**/model/
**/tensorboard_summary/
**/misc.xml
**/ML.iml
.idea/misc.xml
.idea/ML.iml
**/models/
**/pre_poetry_model/
**/dataset/
