
.DS_Store
.idea/
debug.log

/AI训练赛/基于关联规则算法实现电影推荐系统/movie_dataset/

**/output/
**/uncased_L-2_H-128_A-2/
**/output/
*.pyc

**/models/
**/temp/
.idea/ML.iml
.idea/misc.xml
**/model/
.idea/ML.iml
.idea/misc.xml
AI训练赛/微博新闻分析/微博新闻数据集.csv
**/data/
**/.idea/
**/datasets/
**/base_model/
**/tmp/
**/datasets/
/alert/
**/base-models/
**/data/
**/temp/
**/model/
**/tensorboard_summary/
**/misc.xml
**/ML.iml
.idea/misc.xml
.idea/ML.iml
**/models/
**/pre_poetry_model/
**/dataset/
**/outputs/
*.h5
